.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user-card {
  border: 1px solid lightblue;
  margin: 1rem;
  padding: 0.5rem;
  margin-top: 5rem;
}

.bio {
  font-size: 0.85rem;
}

.App-link {
  color: #09d3ac;
}

.NavLink {
  text-decoration: none;
}
